.Rproj.user
.Rhistory
.RData
.Ruserdata

_targets/
renv/*
!renv/activate.R
/.quarto/

**/*.quarto_ipynb
/example-targets-workflow/_site
/example-targets-workflow/output
/example-targets-workflow/tinytable_assets
/docs
